<div class="row">
  <div class="col-xs-10 col-sm-11 goal-show">
    <h1><%= @goal.name %></h1>
    <p><%= @goal.minutes %></p>
    <p>
      Created By: <%= @goal.user_full_name %>
    </p>

      <%= link_to 'Edit', edit_goal_path(@goal), class: 'btn btn-primary' %>

      <%= link_to 'Delete', goal_path(@goal),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
